<div class="px-5 pt-3 pb-4 bg-dark rounded shadow">
  <h1 class="text-center"><%= t(:editing_customer) %></h1>

  <%= render "form", customer: @customer %>

  <br>

  <div>
    <%= link_to t(:back_customer), customers_path, class: "btn btn-outline-light" %>
  </div>
</div>