<div class="px-5 pt-3 pb-4 bg-dark rounded shadow">
  <h1 class="text-center"><%= t(:edit_pizza_part) %></h1>

  <%= render "form", pizza_part: @pizza_part %>

  <br>

  <div>
    <%= link_to t(:back_pizza_part), pizza_parts_path, class: "btn btn-outline-light" %>
  </div>
</div>
