<h1>Editing pizza part</h1>

<%= render "form", pizza_part: @pizza_part %>

<br>

<div>
  <%= link_to "Show this pizza part", @pizza_part %> |
  <%= link_to "Back to pizza parts", pizza_parts_path %>
</div>
