<div class="px-5 pt-3 pb-4 bg-dark rounded shadow">
  <h1 class="text-center"><%= t(:edit_product) %></h1>

  <%= render "form", product: @product %>

  <br>

  <div>
    <%= link_to t(:back_products), products_path, class: "btn btn-outline-light" %>
  </div>
</div>